<div class="item col-md-2 pad0">
    <div class="content side_nav">
        <h4 class="sub-title">信息中心</h4>
        <a href="{:U('Ucenter/index')}"><p id="index">基本信息</p></a>
        <a href="{:U('Ucenter/address')}"><p id="address">地址管理</p></a>
        <a href="{:U('Ucenter/addMoney')}"><p id="addMoney">余额充值</p></a>

        <h4 class="sub-title">订单管理</h4>
        <a href="{:U('Order/myOrder')}"><p id="myOrder">我的订单</p></a>
        <a href="{:U('Order/payDetail')}"><p id="payDetail">消费明细</p></a>

        <h4 class="sub-title">商城中心</h4>
        <a href="{:U('Shop/shop')}"><p id="shop">下单</p></a>
    </div><!--//content-->
</div><!--//item-->
