<include file="Public/header" />
</head>

<body data-spy="scroll">
    <include file="Public/header_nav" />
    <!-- ******ABOUT****** -->
    <section id="shop" class="shop section">
        <div class="container shop_bg">
            <h2 class="text-center">第四步：购买成功</h2>
            <ul class="task-process">
                <li class="cur"><em>1</em>填写寄件人信息<span class="cur"></span></li>
                <li class="cur"><em>2</em>填写收件人信息<span class="cur"></span></li>
                <li class="cur"><em>3</em>支付/充值<span class="cur"></span></li>
                <li class="cur"><em>4</em>购买成功</li>
            </ul>
            <div class="pay-success text-center"><img src="__PUBLIC__/images/success.png" width="300px" /><h3><a href="{:U('Order/myOrder')}">查看订单</a></h3></div>
        </div>

    </section>
</body>

</html>
